.form{
    &__label{
        margin: 0 2rem;
        font-size:1.4rem;
    }

    &__input{
        width: 80%;
        margin: 2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;


        &--text{
            width: 70%;
            height: 3rem;
        }

        &--file{
            width: 70%;
        }

        &--textarea{
            width: 70%;
            resize:vertical;
        }
    }


    &__error{
        color:var(--danger);
        
    }

    &__submit-btn{
        background-color: var(--color-primary);
        color:white;

        &:hover{
            background-color: var(--color-primary-dark);
        }

        &:active{
            background-color: var(--color-primary-light);
        }
    }


    &__controls{
        margin: 0 2rem;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
}

.form-child-list{
    display:flex;
    flex-direction: column;

    &__add-btn{
        min-width:12rem;
        max-width:20rem;
    }

    &__header{
        display:flex;
        align-items: center;
    }

}


.form-child{
    margin: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &--bordered{
        margin: 3rem;
        padding: 1rem;
        border: var(--line);
        border-radius: 3rem;
    }


    &--line{
        display:flex;
        align-items: center;
    }

    &__controls{
        display:flex;
        justify-content: flex-end;
    }
}

.remove-btn{
    background-color: transparent;

    &:hover{
        color:var(--danger);
    }

    &:active{
        color:var(--danger-dark);
    }
}

.add-btn{
    background-color: transparent;

    &:hover{
        color:var(--color-primary);
    }

    &:active{
        color:var(--color-primary-dark);
    }
}

.search-bar{
    min-width: 70%;
}