.dashboard{
    min-height:100vh;

    padding: 3rem 0;
    
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    &__controls{
        display:flex;

    }

    &__widget-grid{
        min-height:90vh;
    }
}